{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block body %}
<header>
    <ul>
      <li id="pic">
          <img class="logo" src="http://i.istockimg.com/file_thumbview_approve/51584512/3/stock-illustration-51584512-magnifying-glass-icon.jpg"></img>
      </li>

      <li>
          <h1 style="font-size: 80px; color: #99c089; font-family: Montserrat;"><font color="#fff">Esconde</font>Pic</h1>
      </li>
    </ul>
</header>
	<div id="desc" class="well well-lg">
	<h3> Hide secret messages from your friends. </h3>
	<h3> Uncover hidden messages sent to you. </h3>
	<h3> Go under the radar! </h3>
</div>
<div id="buttons" class="jumbotron row">
	<div class="col-md-6" style="margin-left: 200px;">
    <p><a id="left" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-eye-close"></span> &nbsp Hide</a></p>
    <p>Hide a tweet-sized message within a picture of your choice.</p>
  </div>

	<div class="col-md-4">
    <p><a id="right" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-eye-open"></span> &nbsp Reveal</a></p>
    <p>Discover the secret your friend tried to pass on to you.</p>
  </div>
</div>
<footer>
  Made by Dor Rondel, Jane Chen, James Spann, Renzhentaxi Baerde. 
</footer>
{% endblock %}
