{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block body %}
	<div id="desc" class="well well-lg">
	<h3> Hide secret messages from your friends. </h3>
	<h3> Uncover hidden messages sent to you. </h3>
	<h3> Go under the radar! </h3>
	<br/><br/><br/>
	<div id="comic">
		<img id="goblin" src="{{ url_for('static', filename='img/hidden_message.png')}} "/>
		<img id="dialogue"src="{{ url_for('static', filename='img/dialogue.gif')}}" />
	</div>
</div>
<div id="buttons" class="jumbotron row">
  <div class="container">
  	<div class="span6" style="float:left; text-align:center;">
      <p><button id="left" class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="glyphicon glyphicon-eye-close"></span> &nbsp Hide</button></p>
      <h4>Hide a tweet-sized message within a picture of your choice.</h4>
    </div>

  	<div class="span6" style="float:right;text-align:center">
      <p><button id="right" class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#exampleModal2" data-whatever="@fat"><span class="glyphicon glyphicon-eye-open"></span> &nbsp Reveal</button></p>
      <h4>Discover the secret your friend tried to share with you.</h4>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Enter your secret message and super safe password</h4>
      </div>
      <div class="modal-body">
        <form action='' method="post" enctype=multipart/form-data>
					<div class="form-group">
						<label for="message-text" class="control-label">Message:</label>
						<input class="form-control" id="message-text" name="user-message"></input>
					</div>
          <div class="form-group">
            <label class="control-label">Password:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
					<div style="position:relative; text-align: center;">
							<p><input type=file name=file class="">
								 <br/>
				         <input type="submit" class="btn btn-primary" value="Hide message">
						&nbsp;
						<span class='label label-info' id="upload-file-info"></span>
					</div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Enter your secret message and super safe password</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="control-label">Password:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
					<div style="position:relative; text-align: center;">
							<p><input type=file name=file class="">
								 <br/>
				         <input type="submit" class="btn btn-primary" value="Reveal message">
						&nbsp;
						<span class='label label-info' id="upload-file-info"></span>
					</div>
					</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<!--javascript -->
<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Enter Your Secret Message and Super Safe Password')
  //modal.find('.modal-body input').val(recipient)
});

$('#exampleModal2').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Enter the Super Safe Password You Were Given')
  //modal.find('.modal-body input').val(recipient)
})
</script>
{% endblock %}
