{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block body %}
<header>
    <ul>
      <li id="pic">
          <img class="logo" src="http://i.istockimg.com/file_thumbview_approve/51584512/3/stock-illustration-51584512-magnifying-glass-icon.jpg"></img>
      </li>

      <li>
          <h1 style="font-size: 80px; color: #99c089; font-family: Montserrat;"><font color="#fff">Esconde</font>Pic</h1>
      </li>
    </ul>
</header>
	<div id="desc" class="well well-lg">
	<h3> Hide secret messages from your friends. </h3>
	<h3> Uncover hidden messages sent to you. </h3>
	<h3> Go under the radar! </h3>
	<br/><br/><br/>
	<div id="comic">
		<img id="goblin" src="{{ url_for('static', filename='img/hidden_message.png')}} "/>
		<img id="dialogue"src="{{ url_for('static', filename='img/dialogue.gif')}}" />
	</div>
</div>
<div id="buttons" class="jumbotron row">
  <div class="container">
  	<div class="col-md-6">
      <p><a id="left" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-eye-close"></span> &nbsp Hide</a></p>
      <h4>Hide a tweet-sized message within a picture of your choice.</h4>
    </div>

  	<div class="col-md-6">
      <p><a id="right" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-eye-open"></span> &nbsp Reveal</a></p>
      <h4>Discover the secret your friend tried to share with you.</h4>
    </div>
  </div>
</div>
<footer style="col">
  Made by Dor Rondel, Jane Chen, James Spann, Renzhentaxi Baerde for Hack(RPI); 2k15
</footer>
{% endblock %}
